{{!< default}}
<div id="root">
	<h1>Home Page</h1>
	<nav>
		<ul>
			<li>
				<a href="/pages/todo.html">Todo App</a>
			</li>	
			<li>
				<a href="/pages/d3Example.html">d3 Example</a>
			</li>
			<li>
				<a href="/pages/threeExample.html">Three Example</a>
			</li>
		</ul>
	</nav>
</div>
